<html>

<head>



</head>

<body>

  <div>

    <div class="h-container">

      <h1 class="heading">Predicting Chance of Admission</h1>

      <p class="para">A machine learning Web App, Built with Flask</p>

    </div>

    <div class="container2">

      <h1 class="heading2">Prediction:<span class="s-heading">You have a chance</span></h1>

      <img src="../static/images/Chance.jpg"/>

    </div>

    <p class="end-para">Finally, the prediction for the given input features is shown.</p>

  </div>

</body>

</html>