<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>university college predictor</title>
    <link rel="stylesheet" href="../static/CSS/background.css" />
</head>
<body>
<center>
<div class="opacity"></div>
    <div class="big">
<h1>UNIVERSITY ADMISSION PREDICTION SYSYTEM</h1>
<h2>Enter Your Details And Get Probablity Of Your Admission</h2>
<form method="POST" action="{{url_for('y_predict')}}">
    Enter GRE Score : <input type="number" name="t1"><br><br>
    Enter TOEFL Score : <input type="number" name="t2" ><br><br>
<lable for="University Rating"> University Rating : </lable><br>
    <input type="radio" name="University Rating" value=1>1</input><br>
    <input type="radio" name="University Rating" value=2>2</input><br>
    <input type="radio" name="University Rating" value=3>3</input><br>
    <input type="radio" name="University Rating" value=4>4</input><br>
    <input type="radio" name="University Rating" value=5>5</input><br>
    <br>
    Enter SOP : <input type="number" name="t3"><br><br>
    Enter LOR : <input type="number" name="t4" ><br><br>
    Enter CGPA : <input type="number" name="t5" ><br><br>
<lable>Reserch :</lable>
    <br>
    <input type="radio" name="Reserch" value="1">Reserch</input><br>
    <input type="radio" name="Reserch" value="2"> No Reserch</input><br><br>

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>
</div>
</center>
</body>
</html>